* {
    box-sizing: border-box;
}
body {
    background-color: #eee;
}
.container {
    width: min(100% - 40px, 1225px);
    margin-inline: auto;
    text-align: center;
}
.menu {
    padding-left: 0;
}
.menu li {
    list-style: none;
    margin-bottom: 10px;
}
.menu li a {
    font-size: 20px;
    text-decoration: none;
    color: blue;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: 30px auto;
}
.tbl1 td {
    border: 1px solid #000;
    height: 50px;
    width: 33.33%;
}
.w90p {
    width: 90%;
}
.w80p {
    width: 80%;
}
.w75p {
    width: 75%;
}
.w72p {
    width: 72%;
}
.w60p {
    width: 60%;
}
.w40p {
    width: 40%;
}
.w28p {
    width: 28%;
}
.h200 {
    height: 200px;
}

/*Table 3*/
.tbl3 {
    height: 1225px;
}
.tbl3 td {
    border: 10px solid #000;
    color: transparent;
}
.white {
    background-color: white;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}
.blue {
    background-color: blue;
}
.w38p {
    width: 38%;
}
.w32p {
    width: 32%;
}
.w25p {
    width: 25%;
}
.w24p {
    width: 24%;
}
.w12p {
    width: 12%;
}
.h50p {
    height: 612px;
}
.h37p {
    height: 453px;
}
.h25p {
    height: 306px;
}
.h24p {
    height: 293px;
}
.h13p {
    height: 160px;
}
.h9p {
    height: 110px;
}
.h4p {
    height: 49px;
}